@import "../bourbon/bourbon";
@import "../neat/neat";

body {
	margin: 0px;
	font-family: $helvetica
}

$purple: #9C8CB9;
$orange: #FAE4CF;
$pink: #EFC4CE;
$gray: #F2F2F2;

nav {
	@include span-columns(12);
	background-color: $purple;
}

section {
  @include row(table);
  aside { 
  	@include span-columns(3);
  	background-color: $pink;
  }
  article { 
  	@include span-columns(9); 
  	background-color: $gray;
  }
}

button {
  @include button;
  @include inline-block;
}